body{
    background-color:#2e0527;
}

main{
    padding-top: 100px;
}

h1{
    color: rgba(255, 255, 255, 0.596);
    margin: 0px;
    padding: 40px;
}
.navbar{
    background-color: rgba(72, 9, 132, 0.905);
    width: 100%;
    height: 100px;  
}

.botton{
    background-color: #3c1a81;
}

.img{
    width: 100px;
    height: 200px;
    border: solid 2px #3c1a81;
    border-radius: 25px;
}

.text{
    color: rgba(255, 255, 255, 0.596);
    font-size:larger;
    display: none;
}

div{
    padding: 20px;
    display:grid;
}

.opacity{
    background-color: #2e052700;
}

@keyframes imagenAgrandada {
    from{
        position: static;
        transform: scale(1);
    }
    to{
        position: static;
        transform: scale(1.50);
    }
}

.img:hover{
    animation-name:imagenAgrandada;
    animation-duration:0.3s;
    animation-fill-mode: both;
}

footer {
    width: 100%;
    height: 150px;
    background-color: rgba(72, 9, 132, 0.905);
    color: white;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
    margin-bottom: 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 110px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.box1 {
    list-style: none;
}







@media(min-width:768px){

    h1{
        color: rgba(255, 255, 255, 0.596);
        margin: 0px;
        padding: 40px;
    }

    .botton{
        background-color: #3c1a81;
    }

    .img{
        width: 100px;
        height: 200px;
        border: solid 2px #3c1a81;
        border-radius: 25px;
    }
    
    .text{
        color: rgba(255, 255, 255, 0.596);
        font-size:larger;
        display: none;
    }

    div{
        padding: 20px;
        display:grid;
    }

    .opacity{
        background-color: #2e052700;
    }
    
    @keyframes imagenAgrandada {
        from{
            position: static;
            transform: scale(1);
        }
        to{
            position: static;
            transform: scale(1.50);
        }
    }

    .img:hover{
        animation-name:imagenAgrandada;
        animation-duration:0.3s;
        animation-fill-mode: both;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}

@media(min-width:1024px)
{
    h1{
        color: rgba(255, 255, 255, 0.596);
        margin: 0px;
        padding: 40px;
    }

    .botton{
        background-color: #3c1a81;
    }

    .img{
        width: 200px;
        height: 300px;
        border: solid 2px #3c1a81;
        border-radius: 25px;
    }
    
    .text{
        color: rgba(255, 255, 255, 0.596);
        font-size:larger;
        display: grid;
    }

    div{
        padding: 20px;
        display:grid;
    }

    .opacity{
        background-color: #2e052700;
    }
    
    @keyframes imagenAgrandada {
        from{
            position: static;
            transform: scale(1);
        }
        to{
            position: static;
            transform: scale(1.50);
        }
    }

    .img:hover{
        animation-name:imagenAgrandada;
        animation-duration:0.3s;
        animation-fill-mode: both;
    }
}




