*{
    font-family: 'Mukta', sans-serif;
  }
  
  body{
      background: #001848;
      background: linear-gradient(to right,#483078, #001848 );
  }
  .bg{
      background-image: url(../img/loginysus.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;}
      .container{
      background-color: #483078;
  }
  
  h2{
      text-align: center;
      color: white;
      font-family: 'Mukta', sans-serif;
  }
  
  .btn{
      border-color:white;
      background-color: #001848;
  }
  
  
  .btn:hover{
      background-color:  #6845e7;
    }
    
    .my-3 a{
      color:white;
  
    }
    .my-3 a:hover{
      color:  #6845e7;
    }
  
    
   
